# Created by .gitignore support plugin (hsz.mobi)
### Gradle template
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

libs
eclipse
OpenModularTurrets.iws
OpenModularTurrets.ipr
OpenModularTurrets.iml
.classpath
.project
.settings