# Created by .gitignore support plugin (hsz.mobi)
### Gradle template
.gradle
build/
classes/

# Ignore Gradle GUI config
gradle-app.setting

# Mod/Forge related stuff
libs
eclipse
*.iws
*.ipr
*.iml
.classpath
.project
.settings
.idea
bin
logs

# Other Stuff
Thumbs.db